body{
  
}
p{
  color: yellow;
}

.crc{
  font-size: 30px;
  color: violet;

}

#it{
  border:2px solid #00f;
  border-radius: 5px;
}

#ds{
  border-top-width: 3px;
  border-top-style: dotted ;
  border-top-color: green;
  border-bottom-width: 10px;
  border-bottom-style: double ;
  border-bottom-color: blue;
  
}
#p1{
  text-align: center;
  text-decoration:line-through;
}